/* =================================== STYLE OF IDENTIC 3.0 =================================== */
/* ===== --- ===== FONT ===== --- ===== */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* ===== --- ===== ROOT:COLOR ===== --- ===== */
:root {
    --main-blue: #252551;
    --second-blue: #2E3261;
    --soft-black: rgba(88, 89, 120, 0.6);
    --lavender: #584696;
    --gold: #F49F1B;
    --aqua: #5FC6ED;
    --iron-gray: #F4F1EC;
}

::selection{
    background: var(--aqua);
    color: #fff;
}

/* ===== --- ===== BASIC ===== --- ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit';
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}

body {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 4.5px;
    border: 2px solid transparent;
    background-clip: padding-box;
    cursor: grab;
}

.custom-scrollbar {
    overflow-y: auto;
    max-height: 300px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* ===== --- ===== NAVBAR ===== --- ===== */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 70px;
    margin: 20px 20px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.nav-container.scrolled {
    background: #2e3261d8;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}

.nav-container.scrolled img {
    filter: brightness(1000%) contrast(1000%);
}
.nav-container.scrolled .nav-daftar-btn {
    background: linear-gradient(45deg, #5FC6ED, #584696);
}

.nav-logo-identic {
    width: 14vw;
    height: auto;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-links a:hover {
    color: var(--main-blue);
}

.navbar .nav-links a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-blue);
    transition: width 0.3s ease;
}

.navbar .nav-links a.active::before,
.navbar .nav-links a:hover::before {
    width: 100%;
}

.nav-daftar-btn {
    width: 120px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-blue);
    color: white;
    transition: all .3s ease-in-out;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .nav-container {
        padding: 15px 20px;
    }

    .nav-logo-identic {
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 200px;
        height: auto;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        gap: 15px;
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding-top: 100px;
        align-items: center;
        transition: all 0.3s ease-in-out;
        z-index: 999;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links a {
        font-size: 16px;
        padding: 10px;
    }

    .burger-menu {
        display: flex;
        z-index: 999999;
    }

    .burger-menu.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-daftar-btn {
        display: none;
    }
}

/* ===== --- ===== MAIN CONTENT ===== --- ===== */
/* decorative-object */
.decorative-object {
    position: absolute;
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.decorative-object-1 {
    top: 100%;
    left: -200px;
    width: 400px;
    height: auto;
    opacity: 5%;
}

.decorative-object-2 {
    top: 250%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 15%;
}

.decorative-object-3 {
    top: 300%;
    left: -200px;
    width: 400px;
    height: auto;
    opacity: 5%;
}

.decorative-object-4 {
    top: 525%;
    left: -150px;
    width: 350px;
    height: auto;
    opacity: 10%;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    width: 100%;
    padding: 35px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(images/BG-hero-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section .left-hero {
    z-index: 2;
}

.hero-section .right-hero {
    width: 65%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    z-index: 2;
}

.hero-section .h1-1 {
    font-size: 70px;
    font-weight: 900;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    color: var(--main-blue);
}

.hero-section .h1-2 {
    font-size: 70px;
    font-weight: 900;
    margin-top: -10px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, white, #F4F1EC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section .paraf {
    font-size: 19px;
    width: 80%;
    color: white;
    font-weight: 200;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}

.hero-group-btn {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.hero-daftar-btn {
    width: 190px;
    height: 52px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-blue);
    color: white;
}

.play-btn {
    width: 190px;
    height: 52px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    background-color: transparent;
    border: 2.4px solid white;
}

.daftar-btn p,
.play-btn p {
    color: white;
    font-weight: 500;
    text-shadow: none;
    font-size: 18px;
}

.play-btn i {
    font-size: 14px;
    margin-right: 5px;
}

.hero-section img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Section */
.about-section {
    height: 100vh;
    width: 100%;
    padding: 65px 100px 0px 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-blue);
}

.custom-shape-divider-bottom-1740753908 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 0;
}

.custom-shape-divider-bottom-1740753908 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 90px;
}

.custom-shape-divider-bottom-1740753908 .shape-fill {
    fill: var(--main-blue);
}

.about-section .left-about {
    width: 55%;
}

.about-section .left-about .p-identic {
    font-size: 32px;
    font-weight: 500;
    color: var(--aqua);
    margin-bottom: -10px;
}

.about-section .left-about .h1-identic {
    font-size: 70px;
    font-weight: 900;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, white, #252551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-section .left-about .content-identic {
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-align: justify;
}

.about-section .left-about .content-identic2 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.about-daftar-btn {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(45deg, #5FC6ED, #584696);
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.about-section .swiper {
    width: 100%;
    height: max-content;
}

.about-section .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 250px;
    height: 450px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.about-section .swiper-slide img {
    display: block;
    /* width: 100px;
    height: 300px; */
    object-fit: cover;
    background-color: white;
    cursor: grab;
}

.custom-shape-divider-top-1740763913 {
    position: absolute;
    top: 200vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1740763913 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 90px;
}

.custom-shape-divider-top-1740763913 .shape-fill {
    fill: var(--main-blue);
}

/* Prize Pool */
.prize-pool {
    height: 100vh;
    width: 100%;
    padding: 65px 100px 0px 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.prize-pool .left-prize {
    width: max-content;
    z-index: 2;
}
.prize-pool .right-prize {
    width: 53%;
    z-index: 2;
}

.prize-pool .left-prize img {
    width: 430px;
    height: auto;
    border-radius: 25px;
    box-shadow: 17px 17px 0px var(--lavender);
}

.prize-pool .right-prize .p-identic {
    font-size: 32px;
    font-weight: 500;
    color: var(--aqua);
    margin-bottom: -10px;
}

.prize-pool .right-prize .h1-identic {
    font-size: 70px;
    font-weight: 900;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, #584696, #252551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prize-pool .right-prize ol li {
    font-size: 20px;
    color: var(--soft-black);
    list-style: disc;
    list-style-position: inside;
    margin-left: 5px;
    margin-top: 5px;
}

.prize-pool .right-prize .p-benefit,
.prize-pool .right-prize .p-winner {
    font-size: 20px;
    font-weight: bold;
    color: var(--lavender);
    text-transform: uppercase;
    margin-top: 20px;
}

.prize-pool .right-prize .box-winner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(45deg, #584696, #252551);
    width: 100%;
    height: max-content;
    padding: 30px 60px;
    border-radius: 15px;
}

.prize-pool .right-prize .box-winner .corner-object {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: auto;
    margin-right: 0px;
    pointer-events: none;
}

.prize-pool .right-prize .box-winner section {
    display: flex;
    flex-direction: column;
}

.prize-pool .right-prize .box-winner section h1 {
    color: var(--aqua);
    font-size: 20px;
    font-weight: bolder;
}

.prize-pool .right-prize .box-winner section p {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.prize-pool .right-prize .box-winner section i {
    background: linear-gradient(45deg, aquamarine, #5FC6ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
}

/* Competition */
.competition {
    height: 100vh;
    width: 100%;
    padding: 65px 100px 0px 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-blue);
}

.competition .left-competition {
    width: 40%;
    margin-right: 60px;
    z-index: 2;
}

.competition .left-competition .p-identic {
    font-size: 32px;
    font-weight: 500;
    color: var(--aqua);
    margin-bottom: -10px;
}

.competition .left-competition .h1-identic {
    font-size: 70px;
    font-weight: 900;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, white, #252551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.competition .left-competition .p-paraf {
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-align: justify;
}

.competition .left-competition .p-paraf2 {
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
    color: white;
    text-align: justify;
}

.competition .left-competition .competition-group-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
}

.competition .left-competition .competition-group-btn .competition-btn {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.competition .left-competition .competition-group-btn .competition-sd-btn {
    background-color: transparent;
    border: 2px solid white;
}
.competition .left-competition .competition-group-btn .competition-smp-btn {
    background: linear-gradient(45deg, #5FC6ED, #584696);
}

.swiper-competition {
    width: 70%;
    height: 450px;
    position: relative;
    z-index: 2;
}

.swiper-competition .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: gray;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.swiper-competition .swiper-slide-active {
    transform: scale(1.05);
}

.swiper-competition .swiper-button-next,
.swiper-competition .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.swiper-competition .swiper-button-next:hover,
.swiper-competition .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.swiper-competition .swiper-button-next:active,
.swiper-competition .swiper-button-prev:active {
    transform: scale(0.95);
}

.swiper-competition .swiper-button-next::after,
.swiper-competition .swiper-button-prev::after {
    font-size: 20px;
    font-weight: bold;
}

.swiper-competition .swiper-pagination {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

.swiper-competition .swiper-pagination .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
    margin: 0 5px;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.swiper-competition .swiper-pagination .swiper-pagination-bullet-active {
    background: white;
    transform: scale(1.2);
}

/* Vanue */
.vanue {
    height: 90vh;
    width: 100%;
    padding: 30px 100px 0px 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-blue);
}

.vanue .p-identic {
    font-size: 32px;
    font-weight: 500;
    color: var(--aqua);
    margin-bottom: -10px;
    text-align: center;
}

.vanue .h1-identic {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    margin-bottom: -20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, white, #252551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vanue .parent {
    display: grid;
    width: 100%;
    height: 420px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.vanue .parent .div1 { grid-area: 1 / 1 / 3 / 2; }
.vanue .parent .div2 { grid-area: 1 / 2 / 2 / 5; }
.vanue .parent .div3 { grid-area: 2 / 2 / 3 / 3; }
.vanue .parent .div4 { grid-area: 2 / 3 / 3 / 4; }
.vanue .parent .div5 { grid-area: 2 / 4 / 3 / 5; }

.vanue .parent .div1,
.vanue .parent .div2,
.vanue .parent .div3,
.vanue .parent .div4,
.vanue .parent .div5 {
    background: url(images/BG-hero-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: all .3s ease;
}

.vanue .parent .div1:hover,
.vanue .parent .div2:hover,
.vanue .parent .div3:hover,
.vanue .parent .div4:hover,
.vanue .parent .div5:hover {
    border: 2px solid white;
}

/* Sponsors */
.sponsors {
    height: 500px;
    width: 100%;
    padding: 0px 100px 0px 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.5),  
                inset 0px -5px 4px rgba(0, 0, 0, 0.5);
}

.sponsors .h1-identic {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    margin-bottom: -5px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, #584696, #252551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sponsors .p-paraf {
    font-size: 18px;
    font-weight: 500;
    color: var(--soft-black);
    margin-bottom: 10px;
    text-align: center;
}

.sponsors .swiper-sponsors {
    margin-bottom: -20px;
}

.sponsors .swiper-sponsors,
.sponsors .swiper-sponsors2 {
    width: 100%;
    height: 100px;
    position: relative;
    pointer-events: none;
    z-index: 2;
}

.sponsors .swiper-sponsors .swiper-slide,
.sponsors .swiper-sponsors2 .swiper-slide {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #2E3261, #584696);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.sponsors .swiper-sponsors .swiper-slide .corner-object,
.sponsors .swiper-sponsors2 .swiper-slide .corner-object {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65px;
    height: auto;
    margin-right: 0px;
    pointer-events: none;
}

.sponsors .swiper-sponsors .swiper-slide img,
.sponsors .swiper-sponsors2 .swiper-slide img {
    width: 70px;
    height: auto;
    margin-right: 14px;
    border-radius: 5px;
}

.sponsors .swiper-sponsors .swiper-slide section,
.sponsors .swiper-sponsors2 .swiper-slide section {
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    padding-left: 17px;
}

.sponsors .swiper-sponsors .swiper-slide section h1,
.sponsors .swiper-sponsors2 .swiper-slide section h1 {
    text-shadow: 2px 2px 8px rgba(41, 41, 41, 0.5);
}

.sponsors .swiper-sponsors .swiper-slide section p,
.sponsors .swiper-sponsors2 .swiper-slide section p {
    font-weight: 200;
    font-size: 16px;
}

/* Location */
.location {
    height: 100vh;
    width: 100%;
    padding: 65px 100px 0px 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--main-blue);
}

.location iframe {
    width: 40%;
    height: 515px;
    border: 3px solid white;
    border-radius: 10px;
}

.location .location-content {
    width: 55%;
}    

.location .location-content .container-top {
    width: 100%;
    font-size: 18px;
    color: white;
    display: flex;
    gap: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.location .location-content .container-top p {
    font-weight: 700;
}
.location .location-content .container-top .p-school {
    font-weight: 300;
    color: var(--aqua);
    transition: all .2s ease;
}

.location .location-content .container-top .p-school:hover {
    color: #5fc7eda4;
    text-decoration: underline;
}

.location .location-content .container-bottom {
    width: 100%;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.location .location-content .container-bottom .p-thin {
    font-weight: 300;
    margin-bottom: 1px;
}
.location .location-content .container-bottom .p-bold {
    font-weight: 700;
}

.location .location-content .container-bottom .r-content-bottom {
    text-align: right;
}

.location .p-identic {
    font-size: 32px;
    font-weight: 500;
    color: var(--aqua);
}

.location .h1-identic {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 1.2;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    background: linear-gradient(45deg, white, #252551);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.location .location-group-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 7px;
    margin-top: 40px;
}

.location .location-group-btn .location-btn {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.location .location-group-btn .location-daftar-btn {
    background: linear-gradient(45deg, #5FC6ED, #584696);
}
.location .location-group-btn .location-timeline-btn {
    background-color: transparent;
    border: 3px solid white;
}

/* Footer */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: var(--second-blue);
}

footer .container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

footer .wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 15px;
}

footer .wrapper .footer-widget .logo {
    margin-bottom: 30px;
    vertical-align: middle;
    width: 300px;
    height: auto;
    filter: brightness(1000%) contrast(1000%);
}

footer .desc {
    color: white;
}

footer .wrapper .footer-widget p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

footer .wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .wrapper .footer-widget .socials li {
    list-style: none;
}

footer .wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: var(--main-blue);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

footer .wrapper .footer-widget .socials li a:hover {
    background-color: #037ef3;
}

footer .wrapper .footer-widget h6 {
    color: white;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

footer .wrapper .footer-widget .links li {
    list-style: none;
}

footer .wrapper .footer-widget .links li a {
    color: rgba(255, 255, 255, 0.73);
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

footer .wrapper .footer-widget .links li a:hover {
    color: #037ef3;
}

footer .copyright-wrapper {
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
}

footer .copyright-wrapper p {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

footer .copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

footer .copyright-wrapper p a:hover {
    color: #037ef3;
}

@media (max-width: 992px) {
    footer .container {
        max-width: 960px;
    }

    footer .wrapper .footer-widget,
    footer .wrapper .footer-widget:nth-child(1) {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    footer .container {
        max-width: 720px;
    }

    footer .wrapper .footer-widget,
    footer .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}